@font-face {
  font-family: "GoogleSans-Regular";
  src: url("./GoogleSans-Regular.ttf");
}

* {
  font-family: "GoogleSans-Regular";
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: auto;

  display: grid;
  gap: 8px;
  padding: 8px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.5fr 5fr;
}

.sidebar,
.header,
.main {
  background-color: rgb(252, 146, 164);
}

.header {
  display: grid;
  gap: 8px;
  padding: 8px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 6fr 4fr;

  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.header-child {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.header-child.search-bar {
  grid-template-columns: 1fr 8.5fr;
  grid-template-rows: 1fr;
}

.header-child.search-bar label {
  display: grid;
}

.header-child.search-bar label img {
  height: 45px;
  margin: 0px 8px;
  width: auto;
  justify-self: end;
}

.header-child.search-bar input {
  border: none;
  outline: none;
  background-color: #e2e8f0;
  box-sizing: border-box;
  width: 100%;
  height: 40%;
  border-radius: 25px;

  padding: 8px 16px;
  justify-self: end;
}

.header-child.notif-pfp-name {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  justify-content: center;
}

.header-child.notif-pfp-name .name {
  justify-self: center;
}

.header-child.notif-pfp-name .bell-icon,
.header-child.notif-pfp-name .pfp {
  justify-self: end;
}

.header-child.notif-pfp-name img {
  height: 40px;
  width: auto;
}

.header-child.notif-pfp-name img[src="assets/bear.jpg"] {
  height: 80px;
  width: auto;
  border-radius: 50%;
}

.header-child.introduction {
  display: grid;
  grid-template-columns: 2fr 9fr;
}

.header-child.introduction .pfp {
  justify-self: center;
}

.header-child.introduction .pfp img[src="assets/bear.jpg"] {
  height: 90px;
  width: auto;
  border-radius: 50%;
}

.header-child.introduction .greeting {
  justify-self: start;
}

.header-child.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.header-child.buttons button {
  justify-self: center;

  width: 75%;
  height: 40px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #1992d4;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  background-color: #1992d4;
  color: white;
}

.sidebar img[src$=".svg"] {
    filter: brightness(0) invert(1);
}

.sidebar .img-logo-title {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
}

.sidebar .img-logo-title img {
  height: 50px;
  width: auto;
  justify-self: end;
}

.sidebar .navigation ul {
    list-style-type: none;
}

.sidebar div:nth-last-child(1),
.sidebar div:nth-last-child(2) {
  padding: 20px 0px;
}

.sidebar .navigation,
.sidebar .utils {
  font-size: 30px;
}

.sidebar {
  grid-row: 1 / 3;
}
